<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SmartSketch | Turn Sketches into Photorealistic Images</title>

    <!-- Bootstrap core CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="static/style.css" rel="stylesheet" />
    <link href="static/color-picker.css" rel="stylesheet" />
  </head>
  <link href="static/drawingboard.css" rel="stylesheet" />

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script src="static/drawingboard.js" type="text/javascript"></script>

  <body>
    <!-- Navigation -->

    <style>
      #zbeubeu {
        width: 600px;
        height: 500px;
      }
    </style>

    <nav class="navbar navbar-expand-lg static-top">
      <div class="container" style="border-bottom: 3px solid #9372ce; text-align: center;">
        <a class="navbar-brand rubik branding" href="#" style="color:#9372ce; font-weight:bold" >Magic Sketch </a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="cursor: pointer;">
              <a
                class="nav-link rubik"
                data-toggle="modal"
                data-target="#GuideModal"
                style="font-weight:bold"
                >Guide</a
              >
            </li>
            <li class="nav-item" style="cursor: pointer;">
              <a
                class="nav-link rubik"
                data-toggle="modal"
                data-target="#ContactModal"
                style="font-weight:bold"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col" id="container_col"><div id="zbeubeu"></div></div> <!-- 그림그리기 캔버스 위치 -->
          <div class="col-1" style="margin: auto; min-width: 125px">
            <a id="uploadimage" class="btn"><input type="image" src="./static/icons/magic.png" width="100%" height="100%" style="padding-right: 5px"/></a> <!-- 변환 버튼 위치 -->
            <br>
            <span>Magic Start!</span>
          </div>
          <div class="col" height="500px" width="100%">
            <img class="image" src="#" onerror="this.src='static/icons/result.png'" height="100%" width="100%" id="image" /> <!-- 결과 이미지 위치 -->
          </div>
        </div>
        <div id="sidebar" class="sidebar">
          <div class="colorButtons">
            <!-- <h4 class="rubik">Pen Color</h4> -->
            <input class="color-picker cp-sm" id="colorpicker" />
            <!-- 아이콘 버튼 위치 -->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div> -->
<!--page content-->
        <p class="tips rubik"></p>
      </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small blue">

    <!-- Modal -->
    <div class="modal fade" id="GuideModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Guide</h5>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <p>
              가이드 내용 1
            </p>
            <p>
              가이드 내용 2
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ContactModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Contact</h5>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body" style="font-weight: bold;">
            <p style="font-size: 23px;">안녕하세요. <span style="color:#8164b4">EmotionKim</span>입니다.</p>
            <p><span style="color:#8164b4;">정지원</span><br/>+ poiu8944@gmail.com<br/>+ 충남대학교 컴퓨터공학과 201502119 </p>
            <p><span style="color:#8164b4;">김수경</span><br/>+ sukyungkim99@gmail.com<br/>+ 충남대학교 컴퓨터공학과 201802067</p>
            <p><span style="color:#8164b4;">서보윤</span><br/>+ boyoon54@gmail.com<br/>+ 충남대학교 컴퓨터공학과 201802105</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>

  <script type="text/javascript" src="static/index.js"></script>
</html>
